.w-1{
   width: 100%; 
}
.w-2{
    width:50%;
}
.w-3{
    width:33.33%;
}
.w-4{
    width:25%;
}
.w-5{
    width:15%;
}
.w-1-5{
    width:65%;
}
.w-10{
    width: 20%;
}
.suit{
    flex-direction: column;
    background-color: WHITE;
    padding:28px 15px;
}
.menu{
    display: none;
}
@media(min-width:370px){
    .w-xs-1{
        width:100%;
    }
    .w-xs-2{
        width:50%;
    }
    .w-xs-3{
        width:33.33%;
    }
    .w-xs-4{
        width:25%;
    }
    .w-xs-5{
        width:20%;
    }
    .slider2 .slick-next{
        right: -100px;
    }
}
@media(min-width:575px){
    .w-sm-1{
        width:100%;
    }
    .w-sm-2{
        width:50%;
    }
    .w-sm-3{
        width:33.33%;
    }
    .w-sm-4{
        width:25%;
    }
    .w-sm-5{
        width:20%;
    }
    .w-sm-5{
        display:none;
    }
}

@media(min-width:767px){
.w-md-1{
    width:100%;
}
.w-md-2{
    width:50%;
}
.w-md-3{
    width:33.33%;
}
.w-md-4{
    width:25%;
}
.w-md-5{
    width:20%;
}
}


@media(min-width:991px){
.w-lg-1{
    width:100%;
}
.w-lg-2{
    width:50%;
}
.w-lg-3{
    width:33.33%;
}
.w-lg-4{
    width:25%;
}
.w-lg-5{
    width:20%;
}
.menu{
    display: block;
}
 
.suit{
    flex-direction: row;
}
.hide{
    display: none;
}
.w-10{
    width: 5%;
}
.w-lg-1-5{
    width:75%;
}
}

@media(min-width:1200px){
.w-xl-1{
    width:100%;
}
.w-xl-2{
    width:50%;
}
.w-xl-3{
    width:33.33%;
}
.w-xl-4{
    width:25%;
}
.w-xl-5{
    width:20%;
}
}
@media(min-width:1400px){
.w-xxl-1{
    width:100%;
}
.w-xxl-2{
    width:50%;
}
.w-xxl-3{
    width:33.33%;
}
.w-xxl-4{
    width:25%;
}
.w-xxl-5{
    width:20%;
}
}

